{% extends 'base.html' %}
{% load static %}
{% block title %}
    Список товаров
    {% endblock %}
{% block content %}
         <div style="width: 1100px; margin: 0 auto">
        <hr>
        <h2>
            Это будет отдельная страница с открытым магзином
        </h2>

        <div style="width: 1100px; margin: 0 auto">
            <h1>
                Каталог товаров
            </h1>
            <div id ='shop'>
                <div class="shopUnit">
                    <img src="{% static 'images/shop/default.png' %}" />

                    <div class="shopUnitName">
                        Название продукта
                    </div>
                    <div class="shopUnitShortDesc">
                        Здесь будет немного текста описывающего продукт.
                        Здесь будет немного текста описывающего продукт.
                        Здесь будет немного текста описывающего продукт.
                    </div>
                    <div class="shopUnitPrice">
                        Цена: 0000 $
                    </div>
                    <a href="#" class="shopUnitMore">
                        Подробнее
                    </a>
                </div>

              <div class="shopUnit">
                    <img src="{% static 'images/shop/default.png' %}" />

                    <div class="shopUnitName">
                        Название продукта
                    </div>
                    <div class="shopUnitShortDesc">
                        Здесь будет немного текста описывающего продукт.
                        Здесь будет немного текста описывающего продукт.
                        Здесь будет немного текста описывающего продукт.
                    </div>
                  <div class="shopUnitPrice">
                        Цена: 0000 $
                    </div>
                    <a href="#" class="shopUnitMore">

                   Подробнее
                    </a>
                </div>

                <div class="shopUnit">
                    <img src="{% static 'images/shop/default.png' %}" />
                    <div class="shopUnitName">
                    Название продукта
                </div>
                <div class="shopUnitShortDesc">
                    Здесь будет немного текста описывающего продукт.
                      Здесь будет немного текста описывающего продукт.
                      Здесь будет немного текста описывающего продукт.
                </div>
                <div class="shopUnitPrice">
                        Цена: 0000 $
                    </div>
                    <a href="#" class="shopUnitMore">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>

{% endblock %}